@use '../../../shared' as *; 

.footer-block {
    display: flex;
    align-items: center;
    justify-content: center ;

    color: $secondary-text-color-global; 
    background-color: rgb(18, 18, 18);  
    height: clamp(100px, 17vh, 300px);
    width: 100%
}
p {
    margin: 150px;
}