.header {
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: center;  
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content:space-around;  
    
    width: 30%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.196);
    border: 5px solid white;  
    border-radius: 150px; 
}
   
li {
    color: rgb(0, 0, 0);  
    list-style-type: none;
    margin-left: 50px; 
    margin-right: 50px;
} 