$header-color: rgba(255, 255, 255, 0.234);
$header-height: 60px;
// $header-menu-width: ;
// $header-menu-height: ;

.header {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: $header-height;
    z-index: 1000;
    // background-color: red; 
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content:flex-start; 
    padding: 0 clamp(15px, 5vw, 50px); 
}

.home-link {
    background-color: $header-color;
    border-radius: 50px;
    width: clamp(70px, 7vw, 100px); 
    height: $header-height;
    aspect-ratio: 1; 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

nav {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 50px;
    width: auto;
    max-width: 100%;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    
    
    background-color: $header-color;
    border-radius: 150px; 
    
    // > a:hover {
         
    // }
}
    
a {
    color: rgb(244, 244, 244);  
    font-size: 20px; 
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
    transition: transform 0.2s ease;
} 
