//test
@use '../../../../shared' as *; 

.about {
    height: 100vh;
    padding-top: clamp(150px,20vh,300px);
    padding-left: clamp(100px,10vw,300px);
    padding-right: clamp(100px,20vw,300px);
    color: $text-color-global;  
    background-color: $background-global;
}     

h2 {
    font-size: 70px;
}